{% extends "layout.html" %}

    <title>Ecoleta</title>

    {% block styles %}
        <link rel="stylesheet" href="/styles/home.css">
        <link rel="stylesheet" href="/styles/modal.css">
    {% endblock styles %}

    

    {# <div id="page-home"> #}
        <div class="content">
            <header>
                <img src="/assets/logo.svg" alt="logo">
                <a href="/create-point">
                    <span></span>
                    Cadastre um ponto de coleta
                </a>
            </header>

            <main>
                <h1>Seu marketplace de coleta de resíduos</h1>
            
                <p>Ajudamos a pessoas a encontrarem pontos de coleta de forma eficiente.</p>

                <a href="#">
                    <span></span>
                    <strong>Pesquisar pontos de coleta</strong>
                </a>
            </main>
        
        </div>

    {% include "partials/modal.html" %}

    <script src="scripts/index.js"></script>